/* ==========================================================================
   main
   ========================================================================== */

@import "normalize";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

//var
$accentColor: #eb5e28;

//reset
body {
  font-family: "ff-tisa-sans-web-pro", Arial, sans-serif;
  font-size: 14px;
  color: #231f20;
  background-color: #fff;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}
a {
  color: #345;
  text-decoration: none;
}

//conv
.vaT {
  vartical-align: top;
}

.taC {
  text-align: center;
}

//module
.in {
  margin: 0 auto;
  width: 1048px;
  @include pie-clearfix();
}

.btn {
  @include border-radius(8px);
  @include inline-block();
  padding: 5px 10px 4px;
  text-align: center;
  font-weight: bold;
  transition: 300ms;
  &.is-resist {
    background-color: $accentColor;

    color: #fff;
    font-size: 22px;
    padding: 7px 26px 9px;
    &:hover {
      color: $accentColor;
      background-color: #fff;
    }
  }
}

//layout
.ly-lpHeader {
  background-color: $accentColor;
  background-image: url(../img/lp/bg-lptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin-bottom: 80px;
  .in {
    text-align: center;
  }
  .siteTitle {
    padding: 60px 0 40px;
    font-weight: normal;
    a {
      color: #fff;
      font-size: 46px;
      font-weight: bold;
    }
  }
  .copyText {
    color: #fff;
    font-size: 54px;
    padding-bottom: 30px;
    font-weight: bold;
  }
}


