---
#### 【必須】リストで使うデータ （tags[1] -> カテゴリー, tags[2] -> 画面ID, tags[3] -> ステータス）####
title:
date: 0000-01-01
layout: lp
tags: カテゴリー2, ID123456, 完了

#### 【必須】ページでユニークで読み込むcssとjs。配列で渡してlayoutで複数ファイルの読み込みが可能 ####
css: []
scripts: []

#### 【任意】ページでユニークで使えるfrontmatter ####
var: aaa

---

<div class="in">
  <ol class="howtoList">
    <li>
    	<h3>GET INSPIRED 1</h3>
    	<p>GET INSPIRED 1 GET INSPIRED 1 GET INSPIRED 1 GET INSPIRED 1 </p>
    </li>
    <li>
    	<h3>GET INSPIRED 2</h3>
    	<p>GET INSPIRED 2 GET INSPIRED 2 GET INSPIRED 2 GET INSPIRED 2 GET INSPIRED 2 </p>
    </li>
    <li>
    	<h3>GET INSPIRED 3</h3>
    	<p>GET INSPIRED 3 GET INSPIRED 3 GET INSPIRED 3 GET INSPIRED 3 </p>
    </li>
  </ol>

  <div class="imgArrow"></div>

  <div class="toRegistBtn"></div>

</div>

