<header class="ly-lpHeader">
  <div class="in">
    <h1 class="siteTitle"><a href="/">HIRUMESHI</a></h1>
    <p class="copyText">Make Friends, Make Connections</p>
    <a href="#" class="btn is-resist">START NOW</a>
  </div>
</header>